@use "../abstracts/" as *;
.header {
    margin-top: 7rem;
    background: $green-50;
    &__data {
        width: 100%;
        height: calc( 100vh - 10rem);
        @include flexBox(center, center);
        @include responsive(xsm) {
            justify-content: flex-start;
        }
        &__contents {
            &__top {
                font-size: 1.7rem;
                font-weight: 500;
                text-transform: capitalize;
                color: $black;
                @include responsive(xsm) {
                    font-size: 1.6rem;
                }
            }
            &__heading {
                margin-top: 1.5rem;
                font-size: 4.5rem;
                font-weight: 900;
                line-height: 4.5rem;
                background: linear-gradient(45deg, $black 50%, $green-500 50%);
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                text-transform: capitalize;
                @include responsive(md) {
                    font-size: 4rem;
                    line-height: 4rem;
                }
                @include responsive(sm) {
                    font-size: 3.3rem;
                    line-height: 3.3rem;
                    margin-top: 1rem;
                    font-weight: 800;
                }
                @include responsive(xsm) {
                    font-size: 3rem;
                    line-height: 3rem;
                    font-weight: 700;
                }
            }
            &__bottom {
                margin-top: 1.5rem;
                text-transform: capitalize;
                font-size: 1.8rem;
                font-weight: 500;
                color: $black;
                @include responsive(sm) {
                    margin-top: 1rem;
                }
                @include responsive(xsm) {
                    font-size: 1.7rem;
                }
                .tritary-font {
                    font-size: 2.5rem;
                    color: $green-500;
                    font-family: "Droid Serif", serif;
                    font-weight: 900;
                    font-style: italic;
                }
            }
            &__links {
                margin-top: 1.5rem;
            }
        }
    }
}